name: Auto merge

on:
  workflow_call:

jobs:
  auto-merge:
    name: Auto merge
    runs-on: ubuntu-24.04
    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@7961b8b5eec56cc088c140b56d864285eabd3f67" # v0.16.4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_METHOD: "squash"