name: Auto merge

on:
  workflow_call:

permissions:
  contents: write        # Required to merge PRs and push changes
  pull-requests: write   # Required to update PR status, labels, and merge PRs

jobs:
  auto-merge:
    name: Auto merge
    runs-on: ubuntu-24.04
    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_METHOD: "squash"