name: build

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: "11"
      java-opts:
        required: false
        type: string
        default: ""
      sttp-native:
        required: false
        type: number
        default: 0
      install-libidn11:
        required: false
        type: boolean
        default: false
      install-libidn2:
        required: false
        type: boolean
        default: false
      compile-documentation:
        required: false
        type: boolean
        default: false

jobs:
  ci:
    runs-on: ubuntu-24.04
    env:
      JAVA_OPTS: ${{ inputs.java-opts }}
      STTP_NATIVE: ${{inputs.sttp-native}}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{inputs.java-version}}
        cache: 'sbt'
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1, specifically v1.1.14
    - name: Install libidn11-dev
      if: ${{ inputs.install-libidn11 }}
      run: sudo apt-get install libidn11-dev
    - name: Install libidn2-dev
      if: ${{ inputs.install-libidn2 }}
      run: |
        sudo apt-get update
        sudo apt-get install libidn2-dev
    - name: Check formatting
      run: sbt -v scalafmtCheckAll
    - name: Compile
      run: sbt -v compile
    - name: Compile documentation
      if: ${{ inputs.compile-documentation }}
      run: sbt -v compileDocumentation
    - name: Test
      run: sbt -v test
    - uses: actions/upload-artifact@v4  # upload test results
      if: success() || failure()        # run this step even if previous step failed
      with:
        name: 'tests-results-java-${{ inputs.java-version }}'
        path: '**/test-reports/TEST*.xml'
