name: Label

on:
  workflow_call:

permissions:
  contents: read         # Required to checkout code
  pull-requests: write   # Required to add labels to PRs

jobs:
  # the labels are attached as specified in `.github/labeler.yml`
  label:
    name: Attach labels
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Launch labeler
        uses: srvaroa/labeler@b4493338d7929ddc4ffc95fadf6f28c73bae2e90 # master at the time of pinning
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
