name: Mima

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: "11"
      java-opts:
        required: false
        type: string
        default: ""

permissions:
  contents: read         # Required to checkout code and tags

jobs:
  mima:
    runs-on: ubuntu-24.04
    env:
      JAVA_OPTS: ${{ inputs.java-opts }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # checkout tags so that dynver works properly (we need the version for MiMa)
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Check MiMa # disable for major releases
        run: sbt -v mimaReportBinaryIssues