name: Scala Steward

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: "11"
      java-opts:
        required: false
        type: string
        default: ""
    secrets:
      # this needs to be a personal access token for a service account, as using the default GITHUB_TOKEN
      # doesn't trigger actions, when a PR is created (this is a known limitation of GitHub Actions, and
      # using a PAT is a documented work-around)
      github-token:
        required: true

jobs:
  scala-steward:
    runs-on: ubuntu-24.04
    env:
      JAVA_OPTS: ${{ inputs.java-opts }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}
          cache: 'sbt'
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1, specifically v1.1.14
      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@f60ccd18bc9d8083e6809d9dc3db4a69a71d856c # v2, specifically v2.78.0
        with:
          author-name: scala-steward
          author-email: scala-steward
          repo-config: .scala-steward.conf
          ignore-opts-files: false
          github-token: ${{ secrets.github-token }}