name: Scala Steward

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: "11"
      java-opts:
        required: false
        type: string
        default: ""

permissions:
  contents: write        # Required to checkout and push changes
  pull-requests: write   # Required to create PRs for dependency updates

jobs:
  scala-steward:
    runs-on: ubuntu-24.04
    env:
      JAVA_OPTS: ${{ inputs.java-opts }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{inputs.java-version}}
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
        with:
          author-name: scala-steward
          author-email: scala-steward
          repo-config: .scala-steward.conf
          ignore-opts-files: false