name: Scala Steward

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: "11"
      java-opts:
        required: false
        type: string
        default: ""
    secrets:
      github-token:
        required: true

jobs:
  scala-steward:
    runs-on: ubuntu-24.04
    env:
      JAVA_OPTS: ${{ inputs.java-opts }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}
          cache: 'sbt'
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1, specifically v1.1.14
      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@53d486a68877f4a6d1e110e8058fe21e593db356 # v2, specifically v2.77.0
        with:
          author-name: scala-steward
          author-email: scala-steward
          repo-config: .scala-steward.conf
          ignore-opts-files: false
          github-token: ${{ secrets.github-token }}